@model IEnumerable<Labka1.Models.Sponsor>

@{
    ViewData["Title"] = "Sponsors";
}

<h1>Sponsors of @ViewBag.TeamName</h1>

<p>
    @*<a asp-action="Create">Get new sponsor</a>*@
    @Html.ActionLink("Get new sponsor", "Create", "Sponsors",routeValues: new{teamId = @ViewBag.currentTeamId})
</p>

@*<p>
    <a asp-action="Create">Get new sponsor</a>
    @Html.ActionLink("Back to list", "DeleteConfirmed", "Sponsors",routeValues: new{teamId = @ViewBag.currentTeamId})
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Team)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          @*<td>
                @Html.DisplayFor(modelItem => item.Team.Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
